@import url("https://fonts.googleapis.com/css2?family=Kanit:wght@200&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100vh;
  font-family: "Kanit", sans-serif;
  background-color: #1b1b1b;
}

h1,
h3 {
  color: #dddddd;
  padding: 30px;
}

h4,
h6 {
  color: #fff;
}
p {
  color: lightgrey;
}
.title-name {
  font-size: 30px;
  color: #fff;
}

/* Product page */
.btn-card {
  background-color: #2d4059;
  color: #fff;
}
.snack {
  color: #ea5455;
  box-shadow: #dddddd;
}

/* cart */
.cart-text {
  color: rgb(0, 0, 0);
}
.cart-padding {
  padding-top: 7px;
}

.cart-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  font-size: 14px;
  font-weight: 600;
  border-radius: 2%;
}

.cart-container .cart-card {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 20px;
}

@media (max-width: 768px) {
  .cart-container .cart-card {
    flex-direction: column;
    justify-content: center;
    border-bottom: 1px solid #e4e4e4;
  }
}

.cart-container .cart-card .cart-img {
  width: 150px;
  height: auto;
}

@media (max-width: 768px) {
  .cart-container .cart-card .cart-img {
    width: 90%;
    height: auto;
  }
}

.cart-container .cart-card .cart-img img {
  width: 100%;
  height: 100%;
}

.cart-container .cart-card .cart-name,
.cart-container .cart-card .cart-price {
  width: 150px;
  margin-left: 20px;
  font-size: 20px;
  color: rgb(255, 255, 255);
}

@media (max-width: 768px) {
  .cart-container .cart-card .cart-name,
  .cart-container .cart-card .cart-price {
    width: 90%;
    margin-left: 0px;
    text-align: center;
    margin-top: 4px;
    color: #000;
    font-size: 20px;
  }
}

.cart-container .cart-card .cart-price-orignal {
  width: 150px;
  margin-left: 20px;
  color: #ea5455;
  font-size: 20px;
}

@media (max-width: 768px) {
  .cart-container .cart-card .cart-price-orignal {
    width: 90%;
    margin-left: 0px;
    text-align: center;
    margin-top: 4px;
  }
}

.delete-btn {
  background-color: transparent;
  border: hidden;
  outline: none;
  cursor: pointer;
  color: #ea5455;
}

.inc,
.dec {
  cursor: pointer;
}

@media (max-width: 768px) {
  .delete-btn {
    margin-top: 4px;
  }

  .inc,
  .dec {
    margin-top: 4px;
    color: #fff;
  }
  .quantity {
    color: #fff;
    font-size: 20px;
  }
}

.inc,
.dec {
  margin-top: 4px;
  color: #fff;
}
.quantity {
  color: #fff;
  font-size: 20px;
}

.cart-list {
  background-color: rgb(51, 51, 51);
  width: 10%;
  height: auto;
}

/* cart summary */
.cart-summary {
  display: flex;
  flex-direction: column;
  padding: 50px;
  border: 1px solid #e4e4e4;
  border-radius: 2%;
  width: 400px;
  font-size: 20px;
}

.cart-summary .cart-summary-heading {
  border-bottom: 1px solid #ea5455;
  color: #fff;
}

.cart-summary .cart-summary-price {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
  color: #fff;
}

.cashout-link {
  font-size: 12px;
  /* font-weight: 600; */
  text-decoration: none;
}

/* cashout */
.success-msg {
  background-color: #dddddd;
  color: #fff;
  padding: 7px;
  font-size: 12px;
  font-weight: 600;
}

.success-msg .home-link {
  color: #fff;
}

.textField {
  width: 100%;
  color: #2d4059;
  margin-top: 30;
  margin-bottom: 30;
}
.center {
  display: flex;
  justify-content: center;
}
.container {
  display: flex;
  justify-content: center;
  width: 40%;
  /* padding: 20; */
}
.btn-comfirm {
  margin-top: 30px;
}

/* footer */
.bg-footer {
  background-color: #dddddd;
  height: 350px;
  width: 100%;
  display: flex;
  flex-direction: row;
  padding-top: 50px;
  margin-top: 50px;
  margin-bottom: 0;
  bottom: 0;
}
.title-footer {
  color: #000;
  font-weight: bold;
  margin-bottom: 10px;
}
.a-footer {
  margin-bottom: 10px;
  color: #000;
  text-decoration: none;
}

/* add */

.container-add {
  display: flex;
  justify-content: center;
  width: 40%;
  padding: 50px;
}
.center-add {
  display: flex;
  justify-content: center;
}
.title-add {
  color: #000;
  font-weight: bold;
  margin-bottom: 10px;
  font-size: 20px;
  margin-right: 10px;
}
.textField-add {
  width: 100%;
  color: #2d4059;
  margin-top: 30;
  margin-bottom: 30;
}
/* slide */
.each-slide > div {
  display: flex;
  align-items: center;
  justify-content: center;
  background-size: cover;
  height: 500px;
}

.each-slide span {
  padding: 20px;
  font-size: 20px;
  background: #efefef;
  text-align: center;
}
.card-slide {
  width: 85%;
  max-height: auto;
  margin-top: 65px;
  border-radius: 20px;  
}
